<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jupiter</title>
</head>
<body>
    <a href="/sistema-solar">Home</a>
    <h1>Jupiter</h1>
    <p>
Júpiter es el quinto planeta desde el Sol y el más grande del sistema solar, 
superando dos veces y media la masa de todos los demás planetas combinados. 
Es un gigante gaseoso compuesto principalmente de hidrógeno y helio, 
caracterizado por su intensa atmósfera, la Gran Mancha Roja y un sistema de al menos 79 lunas, 
incluyendo las cuatro principales descubiertas por Galileo. 
    </p>

</body>
</html>