<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>marte</title>
</head>
<body>
    <a href="/sistema-solar">Home</a>
    <h1>Marte</h1>
    <p>
Marte, conocido como el planeta rojo por su óxido de hierro, es el cuarto desde el Sol y el segundo más pequeño del sistema solar
    </p>

</body>
</html>