<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercurio</title>
</head>
<body>
    <a href="/sistema-solar">Home</a>
    <h1>Mercurio</h1>
    <p>
        Mercurio es el planeta m치s peque침o 
        y m치s cercano al Sol en nuestro sistema 
        solar, conocido por su superficie llena 
        de cr치teres y grandes variaciones de temperatura.
    </p>

</body>
</html>