<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neptuno</title>
</head>
<body>
    <a href="/sistema-solar">Home</a>
    <h1>Neptuno</h1>
    <p>
Neptuno es el octavo y más lejano planeta del sistema solar, 
clasificado como un "gigante de hielo" debido a su composición de agua,
 amoníaco y metano sobre un centro sólido. Conocido por su intenso color azul y vientos supersónicos, 
 este planeta frío (\(-218\)°C) tarda 165 años en orbitar el Sol, tiene 14 lunas conocidas y seis anillos tenues.
    </p>

</body>
</html>