<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> planetas </title>
    </head>
    <body>
        <h1> Hola mundo </h1>

        <a href="/mercurio">mercurio</a>
         <a href="/venus">venus</a>
         <a href="/tierra">tierra</a>
         <a href="/marte">marte</a>
         <a href="/jupiter">jupiter</a>
         <a href="/saturno">saturno</a>
         <a href="/urano">urano</a>
         <a href="/neptuno">neptuno</a>
    </body>
</html>