<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saturno</title>
</head>
<body>
    <a href="/sistema-solar">Home</a>
    <h1>Saturno</h1>
    <p>
Saturno, el sexto planeta y segundo m치s grande del sistema solar, 
es un gigante gaseoso reconocido por su complejo sistema de anillos visibles.
Compuesto principalmente de hidr칩geno y helio, carece de superficie s칩lida, 
tiene una densidad menor que la del agua y rota r치pidamente en unas 10.5 horas, causando un achatamiento en sus polos. 
    </p>

</body>
</html>