<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tierra</title>
</head>
<body>
    <a href="/sistema-solar">Home</a>
    <h1>Tierra</h1>
    <p>
La Tierra, tercer planeta del sistema solar y el único conocido que alberga vida, 
es un cuerpo rocoso de ~4550 millones de años con una superficie cubierta en un 71% por agua. 
    </p>

</body>
</html>