<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Urano</title>
</head>
<body>
    <a href="/sistema-solar">Home</a>
    <h1>Urano</h1>
    <p>
Urano es el séptimo planeta desde el Sol y el tercero más grande del sistema solar,
 clasificado como un gigante helado debido a su composición de agua,
  metano y amoníaco sobre un núcleo rocoso. Con un característico color azul verdoso y una inclinación extrema 
  de 98 grados que lo hace rotar "de lado", este frío planeta cuenta con un sistema de anillos y al menos 28 lunas. 
    </p>

</body>
</html>