<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Venus</title>
</head>
<body>
    <a href="/sistema-solar">Home</a>
    <h1>Venus</h1>
    <p>
Venus es el segundo planeta desde el Sol, 
conocido como el "gemelo" de la Tierra por su tamaño y estructura rocosa similar, 
aunque con una atmósfera extremadamente densa
 de dióxido de carbono y nubes de ácido sulfúrico.
    </p>

</body>
</html>